{% extends "shotgun_app/base.html" %}
{% block content %}


	<div id="container">
    <div id="content">
      <div id="box">
          <a href="#" class="btn btn-default btn-lg" onclick="loadCreateForm()">create an event</a>
          {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
          <form action="{% url 'shotgun_app:create_handler' %}" method="post">
          {% csrf_token %}
        <div id = "create">
        </div>
      </div>
    <br/>
    </div>
    <div id="profile">
        <div id = "picture">
          <img src="smiley.gif" width="125"height="125">
        </div>
        <div id = "information">
          <h2> {{user.name}} </h2>
          Edit profile
        </div>    
      </div>
	  <div id="content">
	    {% if newsfeed %}
    	  {% for item in newsfeed %}
       	    <div id="box">
       	  	  <img src="smiley.gif" width="60"height="60">
       	  	  {{item.1.name}} -  {{item.0.event_name}}<br>
       	  	  {{item.0.event_description}} <br>
       	  	  {{item.0.event_date}} <br>
       	  	  {{item.0.location}} <br>

       	      <div
       	        class="fb-like"
  				data-send="true"
  				data-width="450"
  				data-show-faces="true">
			  </div>
    	    </div>
    	  {% endfor %}
	    {% else %}
        <div id="box">
          <p>No events are available.</p>
        </div>
        {% endif %}
      </div>
      
	</div>
	


{% endblock content %}


