{% extends "shotgun_app/base.html" %}
{% block content %}


	<div id="container">
	  {% if newsfeed %}
    	{% for item in newsfeed %}
       	  <div id="content">
       	  	<img src="smiley.gif" width="60"height="60">
       	  	{{item.1.name}} <br>
       	  	{{item.0.event_name}} | {{item.0.event_description}} | {{item.0.event_date}} | {{item.0.location}}
    	  </div>
    	{% endfor %}
	  {% else %}
        <div id="content">
          <p>No events are available.</p>
        </div>
      {% endif %}
      <div id="profile">
      	<div id = "picture">
      	  <img src="smiley.gif" width="125"height="125">
      	</div>
      	<div id = "information">
          <h2> {{user.name}} </h2>
          Edit profile
        </div>    
      </div>
	</div>
	


{% endblock content %}